ul {
  list-style-type: none;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#giris1{

  color: white;
  position: fixed;
  top: 8px;
  right: 40px;

}



li a:hover {
  background-color: rgb(255, 255, 255);
}